# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Improve\de_structures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
